@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewBag.Title = "CustomerIndex";
}

<h2>CustomerIndex</h2>
@using (Html.BeginForm("CustomerIndex", "Employees"))
{
    @Html.Editor("SearchText")
    <input type="submit" value="Search" class="btn btn-default"/>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zipcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OneTimePickUpDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuspendPickUpStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuspendPickUpEndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PickUpDay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmPickUp)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OneTimePickUpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspendPickUpStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspendPickUpEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.ApplicationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmPickUp)
            </td>
        </tr>
    }

</table>
